div#html{
	text-align: center;
	background-image: url('../img/1.jpg');
	background-repeat:no-repeat;
	display: table;
	top:0;
}
h1{
	color:#FFFFFF;
	font-size:400%;
	padding: 0px;
	font-family: serif;
}
ul#topb{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f3f3f3;
}

li#topa{
    float: left;
}

li#topa a#topc{
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li#topa a#topc:hover:not(.active) {
    background-color: #ddd;
}

li#topa a#topc.active {
    color: white;
    background-color: #4CAF50;
}
#top{
	position:fixed;
	opacity:0.75;
	top:0;
    transition:opacity 0.5s;
}
#top:hover{
	opacity:1;
}
hr{
width:80%;
margin:0 auto;
border: 0;
height: 0;
border-top: 1px solid rgba(0, 0, 0, 0.3);
border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
#urls{
    border:0px solid;
    background-color:rgba(255,255,255,0.5);
    border-radius:25px;
    margin: 0 auto;
    margin-top:40px;
    box-shadow:0px 0px 5px #888888;
}
