---
layout: default
description: Xiao_La's Blog
keywords: xiao-la, xiao_la, blog, python
---
<div class="overview">
<div class="detail" id="jinrishici-sentence">Loading</div>
<script src="https://sdk.jinrishici.com/v2/browser/jinrishici.js" charset="utf-8"></script>
</div>
<div class="postlist">
    {% for post in paginator.posts %}
    <div class="overview">
        <div class="date">{{ post.date | date: "%b %d, %Y" }}</div>
        <div class="detail"><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></div>
    </div>
    {% endfor %}
</div>
{% include pagination.html %}
