---
layout: default
description: Xiao_La's Blog
keywords: xiao-la, xiao_la, blog, python
---
<div class="overview">
    <h2>Info</h2>
    <div class="date">Blog By</div>
    <div class="detail"><a href="https://github.com/Xiao-La">Xiao_La</a></div>
    <br>
    <div class="date">每日诗词</div>
    <div class="detail"><a href="https://www.jinrishici.com/" id="jinrishici-sentence">Loading</a></div>
<script src="https://sdk.jinrishici.com/v2/browser/jinrishici.js" charset="utf-8"></script>
</div>
<hr>
<div class="postlist">
    <h2>Article</h2>
    {% for post in paginator.posts %}
    <div class="overview">
        <div class="date">{{ post.date | date: "%b %d, %Y" }}</div>
        <div class="detail"><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></div>
    </div>
    {% endfor %}
</div>
{% include pagination.html %}
