<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="baidu-site-verification" content="codeva-DcKrElkAD6">

  {% assign page_title = page.title | default: site.title %}
  {% assign page_description = page.description | default: site.description %}
  <title>{{ page_title | escape }}</title>
  <meta name="description" content="{{ page_description | strip_html | normalize_whitespace | escape }}">
  {% if page.keywords %}
    <meta name="keywords" content="{{ page.keywords | join: ',' | escape }}">
  {% endif %}
  <link rel="canonical" href="{{ page.url | replace: 'index.html', '' | absolute_url }}">
  {% feed_meta %}

  <link rel="stylesheet" href="{{ '/css/default.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/css/small.css' | relative_url }}" media="(max-width: 720px)">
  <link rel="stylesheet" href="{{ '/css/syntax.css' | relative_url }}">
  <link rel="icon" href="{{ '/favicon.ico' | relative_url }}" type="image/x-icon">

  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      TeX: { equationNumbers: { autoNumber: "AMS" } },
      extensions: ["tex2jax.js"],
      jax: ["input/TeX", "output/HTML-CSS"],
      tex2jax: {
        inlineMath: [["$", "$"], ["\\(", "\\)"]],
        displayMath: [["$$", "$$"], ["\\[", "\\]"]],
        processEscapes: true
      },
      "HTML-CSS": { fonts: ["TeX"] }
    });
  </script>
  <script async src="https://cdn.jsdelivr.net/npm/mathjax@2.7.9/MathJax.js?config=TeX-MML-AM_CHTML"></script>
</head>
