<div id="post-pagination" class="paginator">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | relative_url }}">&lt;前页</a>
  {% else %}
    <span class="previous disabled">&lt;前页</span>
  {% endif %}

  {% if paginator.page == 1 %}
    <span class="current-page">1</span>
  {% else %}
    <a href="{{ '/' | relative_url }}">1</a>
  {% endif %}

  {% for count in (2..paginator.total_pages) %}
    {% if count == paginator.page %}
      <span class="current-page">{{count}}</span>
    {% else %}
      {% capture page_path %}/page{{ count }}/{% endcapture %}
      <a href="{{ page_path | relative_url }}">{{count}}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a class="next" href="{{ paginator.next_page_path | relative_url }}">后页&gt;</a>
  {% else %}
    <span class="next disabled">后页&gt;</span>
  {% endif %}
  (共{{ paginator.total_posts }}篇)
</div>
