 {% assign assets_base_url = site.url %}
 {% if site.cdn.jsdelivr.enabled %}
     {% assign assets_base_url = "https://cdn.jsdelivr.net/gh/xiao-la/xiao-la.github.io/" %}
 {% endif %}


{% include header.html %}
<div class="container">
    {% include navigation.html %}
    <div class="main">
        <h2 id="jinrishici-sentence"> Loading </h2>
        <script src="https://sdk.jinrishici.com/v2/browser/jinrishici.js" charset="utf-8"></script>
        {{ content }}
        {% include comments.html %}
    </div>
</div>
{% include footer.html %}
