---
layout: default
---
<article>
  <h2>{{ page.title }}</h2>
  {{ content }}

  {% if page.categories %}
    <div class="post_footer">
      <p>
        Published on {{ page.date | date: "%b %d, %Y" }} in categories
        {% for category in page.categories %}
          <a href="{{ '/categories/' | relative_url }}#{{ category | slugify }}" title="{{ category }}">{{ category }}</a>&nbsp;
        {% endfor %}
      </p>
    </div>
  {% endif %}

  <ul class="prev_next">
    {% if page.previous.url %}
      <li>
        <span>上一篇</span>
        <a href="{{ page.previous.url | relative_url }}">{{ page.previous.title }}</a>
      </li>
    {% endif %}
    {% if page.next.url %}
      <li>
        <span>下一篇</span>
        <a href="{{ page.next.url | relative_url }}">{{ page.next.title }}</a>
      </li>
    {% endif %}
  </ul>
</article>
{% include comments.html %}
